.header {
	padding: 20px 0;
}

.footer {
	height: 400px; //need delete
}

img {
	max-width: 100%;
}

.header__title {
	margin-bottom: 20px;
	font-size: 70px;
	text-align: center;
}

.header__description {
	font-size: 48px;
	padding-left: 40px;
	font-weight: 300;
}

.header__title, .header__description {
	padding-top: 40px;
	padding-bottom: 40px;
	border: 3px solid #EC407A;
	color: #EC407A;
	text-transform: uppercase;
}

@media(max-width: 767px) {
	.header__title {
		font-size: 36px;
	}	
	.header__description {
		padding: 20px;
		font-size: 24px;
	}
}

.wrapper {
	max-width: 1400px;
	margin: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.body {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
}
@media(max-width: 1200px) {
	.body {
		grid-template-columns: repeat(3, 1fr);
	}		
}
@media(max-width: 991px) {
	.body {
		grid-template-columns: repeat(2, 1fr);
	}		
}
@media(max-width: 575px) {
	.body {
		grid-template-columns: 1fr;
	}		
}

.card {
	padding: 20px;
	background-color: #E8EAF6;
	border-radius: 5px;
}

.card__title {}

.card__decision {
	padding: 20px;
}

.card__desc {}


/* 
		custome style for one secret
 */

.translucent-frame {
	padding: 15px;
	text-align: center;
	border: 10px solid rgba(0, 0, 0, .5);
	background: black;
	background-clip: padding-box;
	color: white;
}

.few-frames {
	min-height: 150px;
	background: yellowgreen;
	box-shadow: inset 0 0 0 15px deeppink,
				inset 0 0 0 30px #655,
				inset 0 0 0 45px #FF8F00,
				0 2px 5px 2px rgba(0, 0 ,0 ,.6);
}

.internal-fillet {
	background: tan;
	border-radius: 30px;
	padding: 25px;
	box-shadow: inset 0 0 0 15px #655;
	outline: 15px solid #655;
	outline-offset: -15px;
}

.striped-bg {
	height: 150px;
	background: linear-gradient(#fb3 50%, #58a 0);
	background-size: 100% 30px;
}

.striped-bg--vertical {
	background: linear-gradient(to right, #fb3 50%, #58a 0);
	background-size: 30px 100%;
}

.striped-bg--diagonal {
	background: linear-gradient(45deg, #fb3 25%, #58a 0, #58a 50%, #fb3 0, #fb3 75%, #58a 0);
	background-size: 42px 42px;
}

.grid {
	min-height: 150px;
	background: white;
	background-image: linear-gradient(transparent 50%, rgba(200, 0, 0, .5) 0),
					  linear-gradient(90deg, transparent 50%, rgba(200, 0, 0, .5) 0);
	background-size: 45px 45px;
}

.two-grid {
	min-height: 150px;
	background: #58a;
	background-image: 
		linear-gradient(white 2px, transparent 0),
		linear-gradient(90deg, white 2px, transparent 0),
		linear-gradient(hsla(0, 0%, 100%, .3) 1px, transparent 0),
		linear-gradient(90deg, hsla(0, 0%, 100%, .3) 1px, transparent 0);
	background-size: 75px 75px, 75px 75px,
					 25px 25px, 25px 25px;
}

.pea-pattern {
	min-height: 150px;
	background: #655;
	background-image: radial-gradient(tan 30%, transparent 0),
					  radial-gradient(tan 30%, transparent 0);
	background-size: 60px 60px;
	background-position: 0 0, 30px 30px;
}

.chess {
	min-height: 150px;
	background: white;
	background-image: linear-gradient(45deg, #bbb 25%, transparent 0),
					  linear-gradient(45deg, transparent 75%, #bbb 0),
					  linear-gradient(45deg, #bbb 25%, transparent 0),
					  linear-gradient(45deg, transparent 75%, #bbb 0);
	background-size: 60px 60px;
	background-position: 0 0, 30px 30px,
						 30px 30px, 60px 60px;
}

.random-line {
	min-height: 150px;
	background: hsl(20, 40%, 90%);
	background-image:
		linear-gradient(90deg, #fb3 11px, transparent 0),
		linear-gradient(90deg, #ab4 23px, transparent 0),
		linear-gradient(90deg, #655 41px, transparent 0);
	background-size: 41px 100%, 61px 100%, 83px 100%;
}

.border {
	min-height: 150px;
	padding: 20px;
	border: 20px solid transparent;
	background: linear-gradient(white, white),
				url(../img/stone-art.jpg);
	background-size: cover;
	background-clip: padding-box, border-box;
	background-origin: border-box;
}

.border-message {
	min-height: 150px;
	padding: 20px;
	border: 20px solid transparent;
	background: linear-gradient(lightgrey, lightgrey) padding-box,
				repeating-linear-gradient(-45deg, red 0, red 12.5%, white 0, white 25%, #58a 0, #58a 37.5%,	white 0, white 50%)	0 / 5em 5em;
}

@keyframes ants { to { background-position: 100%; } }

.border-ant {
	max-width: 100%;
	min-height: 150px;
	border: 1px solid transparent;
	background: 
		linear-gradient(white, white) content-box,
		repeating-linear-gradient(-45deg, black 0, black 25%, white 0, white 50%) 0 / 24px 24px;
	animation: ants 12s linear infinite;
}

.rhomb img {
	clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
	transition: 1s clip-path;
}

.rhomb img:hover {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.corner {
	padding: 25px;
	min-height: 150px;
	background: #58a;
	background: 
		radial-gradient(circle at top left, transparent 20px, #58a 0) top left,
		radial-gradient(circle at top right, transparent 20px, #58a 0) top right,
		radial-gradient(circle at bottom left, transparent 20px, #58a 0) bottom left,
		radial-gradient(circle at bottom right, transparent 20px, #58a 0) bottom right;
	background-size: 51% 51%;
	background-repeat: no-repeat;
	color: white;
	text-align: center;
}

@keyframes spin {
	to { transform: rotate(.5turn) }
}

@keyframes bg {
	50% { background: #655; }
}

.pie-chart {
	margin: 0 auto;
	width: 150px; height: 150px;
	border-radius: 50%;
	background: yellowgreen;
	background-image: linear-gradient(to right, transparent 50%, #655 0);
	overflow: hidden;
}
.pie-chart:before {
	content: '';
	display: block;
	margin-left: 50%;
	height: 100%;
	background-color: inherit;
	transform-origin: left;
	animation: 
		spin 3s linear infinite,
		bg 6s step-end infinite;
}

.pie-chart-svg {
	max-width: 150px;
	margin: 0 auto;
	text-align: center;
}

svg {
	transform: rotate(-90deg);
	background: yellowgreen;
	border-radius: 50%;
}

circle {
	fill: yellowgreen;
	stroke: #655;
	stroke-width: 32;
	stroke-dasharray: 35 100;
}

.one-side-shadow {
	min-height: 150px;
	background: #ffeb3b;
	box-shadow: 0 20px 15px -15px rgba(0, 0, 0, .5);
}

.one-side-shadow-2 {
	min-height: 150px;
	background: #ffeb3b;
	box-shadow: 0 20px 15px -15px rgba(0, 0, 0, .5),
				0 -20px 15px -15px rgba(0, 0, 0, .5);
}